:root {
  --pomodoro-color: #145da0;
  --short-break-color: #217351;
  --long-break-color: #5d5491;
  --current-color: var(--pomodoro-color);
  --button-color: var(--pomodoro-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--current-color);
  color: aliceblue;
  transition: background-color 1.2s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

main hr {
  width: 100%;
  margin: 0;
  border-top: 1px solid #feefdc;
}

button {
  width: 150px;
  font-size: 22px;
  font-weight: 500;
  margin: 0 10px;
  padding: 6.4px 28.8px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: #8d725f;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  text-align: center;
}

button span {
  display: inline-block;
  width: 100%;
}

button:hover {
  background-color: #7b6455;
}
button:active {
  background-color: #7b6455;
}

.timer-option {
  cursor: pointer;
  padding: 5px;
}

.active-timer {
  background-color: #e0e0e0;
  border-radius: 5px;
  font-weight: 700;
}

.time {
  font-size: 120px;
  font-family: monospace;
  border-radius: 10px;
}

.card {
  background-color: #feefdc;
  color: #3c3c3e;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.icons {
  cursor: pointer;
  border: 1px solid #feefdc;
  border-radius: 8px;
  margin: 0 10px;
  padding: 0.4em 0.5em;
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.settings-box {
  background: aliceblue;
  color: #212d30;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #444;
  width: 90%;
  max-width: 500px;
}

.settings-box .timers {
  justify-content: space-around;
}

.settings-box .button {
  background-color: var(--button-color);
  color: aliceblue;
  transition: backround-color 1s;
}

input.bigger {
  transform: scale(1.5);
}

.form-check-input:checked{
  background-color: var(--button-color) !important;
  border: none !important;
  transition: backround-color 1s;
}

/* Media Queries */

@media screen and (min-width: 680px) {
  .icons:hover {
    background-color: #f7f1ee;
    border: 1px solid #775f4f;
  }
}

@media screen and (max-width: 450px) {
  .outer-div {
    padding: 0 2em;
  }
}

@media screen and (max-width: 680px) {
  .time {
    font-size: 110px !important;
  }

  .timer-option {
    padding: 5px 20px !important;
  }

  .secondary {
    display: none;
  }
  button {
    width: 120px;
    font-size: 20px;
  }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #8d725f;  
  }
  a:hover {
    color: #747bff;
  }
  button {
  background-color: #775f4f;
  }
} */
