:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark colorful;
  color: #213547;
  background-color: #d6bda7; */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #145da0;
  color: aliceblue;
}

button {
  width: 50%;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.4em 1.8em;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: #8d725f;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 8px #999;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #7b6455;
}
button:active {
  background-color: #7b6455;
  box-shadow: 0 4px #888;
  transform: translateY(3px);
}

.card {
  background-color: #feefdc;
}

.icons {
  border: 1px solid #feefdc;
  border-radius: 8px;
  padding: 0.4em 0.5em;
}

/* Media Queries */

@media screen and (min-width: 680px) {
  .icons:hover {
    background-color: #f7f1ee;
    border: 1px solid #775f4f;
  }
}

@media screen and (max-width: 450px) {
  .outer-div {
    padding: 0 2em;
  }
}

@media screen and (max-width: 680px) {
  .time {
    font-size: 100px !important;
  }
  button {
    width: 25vh;
  }
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #8d725f;  
  }
  a:hover {
    color: #747bff;
  }
  button {
  background-color: #775f4f;
  }
} */
